{% extends 'base.html'%}
{% block container %}

    <div class="jumbotron page-header">
        <h1>Centro Médico Galeno</h1>
        <p>En Centro Médico Galeno, nos dedicamos a proporcionar atención médica excepcional. Con un equipo altamente calificado y un enfoque centrado en el paciente, nos esforzamos por ofrecer servicios de calidad en un entorno acogedor. Nos hemos comprometido nuestra pasión por la salud y el bienestar de nuestra comunidad. ¡Gracias por confiar en nosotros!</p>
        <p><a class="btn btn-primary">Saber más</a></p>
    </div>

{% endblock %}
